@import '../../../styles/base/_variables.scss';


.chooser {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    position: relative; // margin: 10px;
    background: #fff;
    .chooser-label {
        font-size: 11px;
        margin-bottom: 6px;
        color: #28313B;
        &~ul.chooser-suggestions {
            top: 33px;
            left: -10px;
        }
    }
    .chooser-box {
        padding: 5px;
        width: 100%;
        text-align: left;
        padding-left: 10px;
        border: 1px solid #e9eff4;
        border-radius: 3px;
        cursor: pointer;
        font-size: 12px;
        line-height: 24px;
        &:active,
        &:focus {
            outline: none;
            // background: #ccc;
        }
        .flex-holder {
            font-weight: 500;
            >i {
                float: right;
                font-size: 6px;
                margin-right: 6px;
                color: #97a4b1;
            }
        }
    }
    ul.chooser-suggestions {
        list-style: none;
        max-height: 320px;
        overflow-y: auto;
        margin: 0;
        position: absolute;
        background: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        z-index: 2;
        border-radius: 0px;
        padding: 0;
        transform: scale(0.5, 0);
        transform-origin: 0 0;
        transition: transform 0.1s;
        left: 0;
        margin-top: 6px;
        &:hover li.selected {
            background: transparent;
        }
        li {
            padding: 7px 11px;
            white-space: nowrap;
            text-align: left;
            cursor: pointer;
            font-size: 12px;
            color: #1D212A;
            &:hover,
            &:active,
            &:focus,
            &.selected {
                background: #eff2f7;
            }
            outline: none;
        }
        &.collapsed {
            transform: scale(0, 0);
        }
        &.expanded {
            width: 100%;
            transform: scale(1, 1);
        }
    }
    &.disabled {
        background: transparent;
        cursor: not-allowed;
        .chooser-box {
            cursor: not-allowed;
        }
    }
}
