@import './../../../../../styles/base/_variables.scss';
.ng-chips-holder {
    min-width: 100px; // margin: 10px;
    position: relative;
    background-color: #fff;
    .ngc-label {
        font-size: 11px;
         color: #28313B;
        margin-bottom: 6px;
        text-align: left;
    }
    .ngc-flow {
        display: flex;
        border: 1px solid $border-grey;
        border-radius: 3px;
        min-height: 38px; // width: 200px;
        flex-wrap: wrap;
        .ngc-chip {
            background: #EFF2F7;
            font-size: 12px;
            margin: 5px;
            padding: 6px 9px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            .ngc-cross {
                font-size: 14px;
                margin-left: 6px;
                line-height: 1.8;
                cursor: pointer;
            }
            &.ngc-selected {
                background: rgba(204, 204, 204, 0.6);
            }
        }
        input[type="text"] {
            padding: 6px;
            padding-left: 0;
            border: none;
            outline: none;
            font-size: 12px;
            margin-left: 10px;
            &::-webkit-input-placeholder {
                font-size: 12px;
                color: #1D212A;
            }
            &::-moz-placeholder {
                font-size: 12px;
                color: #1D212A;
            }
            &:-ms-input-placeholder {
                font-size: 12px;
                color: #1D212A;
            }
            &:-moz-placeholder {
                font-size: 12px;
                color: #1D212A;
            }
        }
    }
    ul.ngc-suggestions {
        list-style: none;
        width: 200px;
        margin-top: 2px;
        position: absolute;
        max-height: 320px;
        overflow-y: auto;
        background: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        z-index: 2;
        border-radius: 0px;
        padding: 0;
        transform: scale(0.5, 0);
        transform-origin: 0 0;
        transition: transform 0.1s;
        &:hover li.ngc-selected {
            background: transparent;
        }
        li {
            padding: 7px 11px;
            text-align: left;
            color: #1D212A;
            font-size: 12px;
            line-height: 24px;
            &:hover,
            &.ngc-selected {
                background: #eff2f7;
                cursor: pointer;
            }
            outline: none;
        }
        &.ngc-collapsed {
            transform: scale(0, 0);
        }
        &.ngc-expanded {
            transform: scale(1, 1);
        }
    }
    &.ngc-disabled {
        background: transparent;
        cursor: not-allowed;
        .ngc-cross {
            cursor: not-allowed;
        }
        input[type="text"] {
            background: transparent;
        }
    }
}