<div class="ng-chips-holder" [ngClass]="{'ngc-disabled': isDisabled}">
	<div class="ngc-label" *ngIf="!hideLabel">{{labelText}}</div>
    <div class="ngc-flow">
        <div class="ngc-chip" *ngFor="let chip of chips; let i=index;" [ngClass]="{'ngc-selected': (i === selectedChipIndex)}">
            {{config ? chip[config.text] : chip}}<i *ngIf="showCross(chip)" class="material-icons ngc-cross" (click)="removeChip(i)">close</i>
            
            </div>
      
        <input type="text" [(ngModel)]="textBoxVal" (keyup)="textTyped($event)" (focus)="displaySuggestions()" (blur)="hideSuggestions()" placeholder="{{ placeholderText || 'Add tags...'}}" [disabled]="isDisabled"/>
    </div>
    <ul class="ngc-suggestions" [ngClass]="{'ngc-expanded': showSuggestions}" >
        <li *ngFor="let suggestion of suggestions; let idx=index;" [ngClass]="{'ngc-selected': (idx === selectedSuggestionIndex)}" (mousedown)="chooseSuggestion(idx, $event)">{{config ? suggestion[config.text] : suggestion}}</li>        
    </ul>
</div>
