$primary-color: #20A6FC;
$secondary-color: #f2f8fc;
$primary-hover: #289ace;
$primary-focus: #258fbf;
$badge-red: #de5245;

/** PSD design theme colors **/

$blue: #00a8f7;
$sky-blue-20:#20A6FC;
$white: #ffffff;
$black: black;
$black-1d: #1D212A;
$grey: #eceff1;
$border-grey: #ececec;
$border-grey-light: #ececec;
$border-grey-dark: #d4d4d4;
$selected-border: #FEFBF2;
$grey-e9:#E9EFF4;
$grey-3d:#3D0000;
$grey-97:#97A4B1;
$tab-bg:#eff2f7;
/** font colors **/

$grey-font:#989898;
$blue-font:$blue;
$font-primary: 'Lato', sans-serif;
$font-color: $grey-font;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$padding-left-25: 25px;
$grey-text:#28313B;
$grey-text-dark:#233438;
/** colors **/

$mid-grey-general: #757F7E;
$light-grey-general: #E8E7E7;
$dark-grey-general: #333333;
$off-white: #f1f1f1;
$porcelain: #f8f9fa;
$lightGrey:#eee;
$danger-red:#d74338;
$image-base-path: '/v2/assets/img/';
$fade-opacity: 0.3;